@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Montserrat", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.mc {
  width: 90%;
  margin: 0 auto;
}
.showcase{
  height: calc(100vh - 80px);
}
.mybtn {
  box-shadow: 0 0 29px 0 rgba(255, 91, 0, 0.15);
  background-color: #ff5b00;
  align-items: center;
  justify-content: center;
  color: #e3f2fd;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.mybtn:hover {
  background-color: #ff5b00;
  box-shadow: 0px 0px 10px #ff7e39;
}

.review::before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.701);
  position: absolute;
  left: -7px;
}

.yellow-card::after {
  content: "";

  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: -15.5px;
  background: #ff5b00;
  clip-path: polygon(100% 0, 0 0, 0 94%);
}

.green-card::after {
  content: "";

  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: -15.5px;
  background: #203350;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.suggest-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.footer-img1 {
  user-select: none !important;
}


.ant-input:focus {
  outline: #ff5b00 !important;
}

.ant-input::placeholder {
  color: #ff5b00 !important;
}


.ant-input-wrapper{
  color: #ff5b00 !important;
  height: 48px;
  border: 1px solid #ff5b00;
}
.ant-input-group {
  color: #ff5b00 !important;
  height: 40px;
  border: 1px solid #ff5b00;
  border-radius: 8px !important;
  overflow: hidden !important;
}
.ant-input-group   .ant-input{
    color: #ff5b00 !important;
  height: 48px !important;
  /* border: 1px solid #ff5b00 !important; */
}
/* class="ant-input-wrapper ant-input-group css-dev-only-do-not-override-1vjf2v5" */